@font-face {
    font-family: 'Departure Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/DepartureMono/DepartureMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Geist/Geist-Regular.ttf');
}

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Geist/Geist-Medium.ttf');
}

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Geist/Geist-SemiBold.ttf');
}

@font-face {
    font-family: 'Junction';
    src: url('/fonts/Junction/junction-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('/fonts/Junction/junction-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('/fonts/Junction/junction-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.font-departure-mono,
body.font-departure-mono .MuiInputBase-root,
body.font-departure-mono .MuiInputLabel-root,
body.font-departure-mono .MuiMenuItem-root,
body.font-departure-mono .MuiListItem-root,
body.font-departure-mono .MuiTypography-root {
    font-family: 'Departure Mono', monospace !important;
}

body.font-geist,
body.font-geist .MuiInputBase-root,
body.font-geist .MuiInputLabel-root,
body.font-geist .MuiMenuItem-root,
body.font-geist .MuiListItem-root,
body.font-geist .MuiTypography-root {
    font-family: 'Geist', sans-serif !important;
}

body.font-junction,
body.font-junction .MuiInputBase-root,
body.font-junction .MuiInputLabel-root,
body.font-junction .MuiMenuItem-root,
body.font-junction .MuiListItem-root,
body.font-junction .MuiTypography-root {
    font-family: 'Junction', sans-serif !important;
}
